body {
    margin: 0;
    padding: 0;
    
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    --login-width: 300px;
  }

  .img-container{
  width: 100%;
  height: 752.5px;      /* Alto fijo → la página NO crece */
  background-image: url("img/ferremax.png");
  background-size: 100% 100%;  /* Se estira EN TODAS DIRECCIONES aunque se deforme */
  background-repeat: no-repeat;
  }

